table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-date {
  width: 20%;
}

.mat-column-patient, .mat-column-type {
  width: 25%;
}

.mat-column-toPay, .mat-column-paid, .mat-column-actions {
  width: 10%;
}

.orphan-icon {
  margin-left: 24px;
}
