table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-chip-list {
  width: 100%;
  background-color: #8DD6FF;
  ::ng-deep .mat-chip-list-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
